*{
    font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.84);
    font-weight: 300;
    font-style: normal;
}
  
html,
body {
  min-height: 100%;
}

body {
  font-family: 'Oswald', sans-serif;
  color: #fff;
  background-color: rgba(136, 136, 136, 0.322);
}

.wrapper {
  text-align: center;
}
.clip-text {
  font-size: 2em;
  font-weight: bold;
  line-height: 1;
  display: inline-block;
  margin: .25em;
  padding: .5em .75em;
  text-align: center;
}
.input1{
  width: 100%;
}